# Yelp Spark ETL

### Setting Up Spark

In [1]:
import pyspark as ps
from pyspark.sql import functions as F
from pyspark.sql.types import TimestampType, ArrayType

In [2]:
spark = (ps.sql.SparkSession.builder
        .appName("Yelp_ETL")
        .config("spark.driver.extraClassPath", "/home/jovyan/postgresql-42.2.20.jar")
        .master('local[3]')
        .getOrCreate()
        )

sc = spark.sparkContext

In [3]:
spark

### Connecting To Data

In [4]:
data_location = "/home/jovyan/work/Documents/Data_Science_Projects/Yelp_Reviews/data/full_data/original_json/"

In [5]:
filename_prefix = "yelp_academic_dataset_"

### Checkin DataPrep

In [6]:
df_checkin = spark.read.json(data_location + filename_prefix + "checkin.json")

In [7]:
df_checkin.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- date: string (nullable = true)

In [8]:
df_checkin.show(5)

+--------------------+--------------------+
|         business_id|                date|
+--------------------+--------------------+
|--0r8K_AQ4FZfLsX3...| 2017-09-03 17:13:59|
|--0zrn43LEaB4jUWT...|2010-10-08 22:21:...|
|--164t1nclzzmca7e...|2010-02-26 02:06:...|
|--2aF9NhXnNVpDV0K...|2014-11-03 16:35:...|
|--2mEJ63SC_8_08_j...|2010-12-15 17:10:...|
+--------------------+--------------------+
only showing top 5 rows

In [9]:
df_checkin.count()

138876

In [10]:
df_checkin_2 = df_checkin.withColumn("date_array", F.split(df_checkin.date, ',').cast(ArrayType(TimestampType())))

In [11]:
df_checkin_2.createOrReplaceTempView("df_checkin_2")
df_checkin_2.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- date_array: array (nullable = true)
 |    |-- element: timestamp (containsNull = true)

In [12]:
df_checkin_final = spark.sql('''
                                 SELECT business_id,
                                     size(date_array) AS num_checkins,
                                     to_timestamp(array_min(date_array)) AS checkin_min,
                                     to_timestamp(array_max(date_array)) AS checkin_max
                                 FROM df_checkin_2
                             ''')

In [13]:
df_checkin_final.show(20)

+--------------------+------------+-------------------+-------------------+
|         business_id|num_checkins|        checkin_min|        checkin_max|
+--------------------+------------+-------------------+-------------------+
|--0r8K_AQ4FZfLsX3...|           1|2017-09-03 17:13:59|2017-09-03 17:13:59|
|--0zrn43LEaB4jUWT...|           9|2010-10-08 22:21:20|2011-08-29 19:01:31|
|--164t1nclzzmca7e...|         311|2010-02-26 02:06:53|2013-11-25 02:51:33|
|--2aF9NhXnNVpDV0K...|           8|2014-11-03 16:35:35|2020-12-29 16:22:00|
|--2mEJ63SC_8_08_j...|           4|2010-12-15 17:10:46|2016-06-11 19:56:11|
|--6COJIAjkQwSUZci...|         180|2012-09-23 20:58:03|2017-08-20 17:41:05|
|--DzGwfuJH12DjYz9...|           2|2014-08-02 14:12:55|2015-02-21 17:37:57|
|--EoF6KmeDuki2vBW...|           2|2012-08-27 21:10:37|2012-09-21 22:35:50|
|--JKSSgnfoOjVDFGv...|           4|2011-08-15 22:43:08|2018-09-12 14:04:02|
|--JuLhLvq3gyjNnXT...|           1|2016-06-08 15:40:03|2016-06-08 15:40:03|
|--Q3mAcX9t63f7Xcb...|          35|2020-07-15 22:29:52|2021-01-25 19:11:17|
|--UNNdnHRhsyFUbDg...|        2324|2010-02-07 05:58:54|2020-10-15 04:11:31|
|--_nBudPOb1lNRgKf...|           7|2014-11-18 23:27:59|2015-03-14 22:24:45|
|--bbZa1KPYSmW0X4o...|          47|2015-11-28 01:53:03|2020-12-07 02:18:17|
|--c6cQzOAzqky9L_p...|           1|2014-12-07 08:02:13|2014-12-07 08:02:13|
|--fFGOHU7mjZ670Mk...|          18|2011-01-24 17:55:32|2013-09-22 10:05:56|
|--g3lcoxHd8djBe1y...|           1|2017-02-24 21:57:27|2017-02-24 21:57:27|
|--hLwt1d-CymEs7KT...|           7|2015-04-10 22:11:28|2017-06-18 02:57:34|
|--hkbIWgBKBOZq4Vc...|        1204|2014-05-28 22:05:40|2021-01-17 19:38:24|
|--iiZK8pW7kC2Tr2P...|          43|2010-12-22 21:57:02|2020-02-27 21:44:46|
+--------------------+------------+-------------------+-------------------+
only showing top 20 rows

In [14]:
df_checkin_final.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- num_checkins: integer (nullable = false)
 |-- checkin_min: timestamp (nullable = true)
 |-- checkin_max: timestamp (nullable = true)

In [15]:
# df_checkin_final.coalesce(1).write.csv("checkin_post_etl.csv", header=True)

### User DataPrep

In [16]:
df_user = spark.read.json(data_location + filename_prefix + "user.json")

In [17]:
df_user.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [18]:
df_user.count()

2189457

In [19]:
df_user.show(5)

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer| cool|               elite|fans|             friends|funny|     name|review_count|useful|             user_id|      yelping_since|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+
|         3.85|           2541|            361|            2541|          1710|            147|            163|           1212|              323|            5691|               190|              815|11291|2006,2007,2008,20...|1357|xBDpTUbai0DXrvxCe...|10030|     Jane|        1220| 15038|q_QQ5kBBwlCcbL1s4...|2005-03-14 20:26:35|
|         4.09|           2205|            232|            2205|          1632|             96|             87|           1187|              294|            3293|                94|              472|18046|2007,2008,2009,20...|1025|XPzYf9_mwG2eXYP2B...|10289|     Gabi|        2136| 21272|dIIKEfOgo0KqUfGQv...|2007-08-10 19:01:51|
|         3.76|             31|              0|              31|            22|              0|              1|              5|                1|              20|                 3|                3|  130|           2010,2011|  16|GfB6sC4NJQvSI2ewb...|  128|    Jason|         119|   188|D6ErcUnFALnCQN4b1...|2007-02-07 15:47:53|
|         3.77|           1566|            219|            1566|          1180|             90|            129|           1120|              326|            4510|                93|              391| 4035|2009,2010,2011,20...| 420|HQZPQhKMwRAyS6BCs...| 4722|      Kat|         987|  7234|JnPIjvC0cmooNDfsa...|2009-02-09 16:14:29|
|         3.72|            310|             16|             310|           248|             15|             19|             77|               44|             131|                32|               98| 1124|      2009,2010,2011|  47|-Q88pZUcrfN0BLBDp...|  727|Christine|         495|  1577|37Hc8hr3cw0iHLoPz...|2008-03-03 04:57:05|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+
only showing top 5 rows

In [20]:
df_user.createOrReplaceTempView("df_user")

In [21]:
df_user_1 = spark.sql('''
                          SELECT user_id, 
                              to_timestamp(yelping_since) AS yelping_since,
                              split(replace(elite, '20,20', '2020'), ",") AS elite_array,
                              average_stars,
                              review_count,
                              fans,
                              size(split(friends, ",")) AS friend_count,
                              (compliment_cool + compliment_cute + compliment_funny 
                              + compliment_hot + compliment_list + compliment_more
                              + compliment_note + compliment_photos + compliment_plain
                              + compliment_profile + compliment_writer) AS compliments,
                              (cool + funny + useful) AS ufc_count
                          FROM df_user
                      ''')

In [22]:
df_user_1.createOrReplaceTempView("df_user_1")
df_user_final = spark.sql('''
                              SELECT user_id,
                                  yelping_since,
                                  average_stars,
                                  review_count,
                                  fans,
                                  friend_count,
                                  compliments,
                                  ufc_count,
                                  CASE
                                      WHEN size(elite_array) = 1 AND element_at(elite_array, 1) = "" THEN 0
                                      ELSE size(elite_array)
                                  END AS elite_count,
                                  CASE
                                      WHEN size(elite_array) = 1 AND element_at(elite_array, 1) = "" THEN 0
                                      ELSE int(array_min(elite_array))
                                  END AS elite_min,
                                  CASE
                                      WHEN size(elite_array) = 1 AND element_at(elite_array, 1) = "" THEN 0
                                      ELSE int(array_max(elite_array))
                                  END AS elite_max
                              FROM df_user_1
                          ''')

In [23]:
df_user_final.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- yelping_since: timestamp (nullable = true)
 |-- average_stars: double (nullable = true)
 |-- review_count: long (nullable = true)
 |-- fans: long (nullable = true)
 |-- friend_count: integer (nullable = false)
 |-- compliments: long (nullable = true)
 |-- ufc_count: long (nullable = true)
 |-- elite_count: integer (nullable = false)
 |-- elite_min: integer (nullable = true)
 |-- elite_max: integer (nullable = true)

In [24]:
df_user_final.show(5)

+--------------------+-------------------+-------------+------------+----+------------+-----------+---------+-----------+---------+---------+
|             user_id|      yelping_since|average_stars|review_count|fans|friend_count|compliments|ufc_count|elite_count|elite_min|elite_max|
+--------------------+-------------------+-------------+------------+----+------------+-----------+---------+-----------+---------+---------+
|q_QQ5kBBwlCcbL1s4...|2005-03-14 20:26:35|         3.85|        1220|1357|        5813|      15694|    36359|          9|     2006|     2014|
|dIIKEfOgo0KqUfGQv...|2007-08-10 19:01:51|         4.09|        2136|1025|        6296|      11797|    49607|         14|     2007|     2020|
|D6ErcUnFALnCQN4b1...|2007-02-07 15:47:53|         3.76|         119|  16|         835|        117|      446|          2|     2010|     2011|
|JnPIjvC0cmooNDfsa...|2009-02-09 16:14:29|         3.77|         987| 420|        1452|      11190|    15991|          6|     2009|     2014|
|37Hc8hr3cw0iHLoPz...|2008-03-03 04:57:05|         3.72|         495|  47|         532|       1300|     3428|          3|     2009|     2011|
+--------------------+-------------------+-------------+------------+----+------------+-----------+---------+-----------+---------+---------+
only showing top 5 rows

In [25]:
# df_user_final.coalesce(1).write.csv("user_post_etl.csv", header=True)

### Business DataPrep

In [26]:
df_business = spark.read.json(data_location + filename_prefix + "business.json")

In [27]:
df_business.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [28]:
df_business.count()

160585

In [29]:
df_business.show(5)

+-------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|            address|          attributes|         business_id|          categories|       city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+-------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|       921 Pearl St|[,, 'beer_and_win...|6iYb2HFDywm3zjuRg...|Gastropubs, Food,...|    Boulder|[11:0-23:0, 11:0-...|      1|   40.0175444|   -105.2833481| Oskar Blues Taproom|      80302|          86|  4.0|   CO|
|7000 NE Airport Way|[,, u'beer_and_wi...|tCbdrRPZA0oiIYSmH...|Salad, Soup, Sand...|   Portland|[5:0-18:0, 5:0-18...|      1|45.5889058992|-122.5933307507|Flying Elephants ...|      97218|         126|  4.0|   OR|
| 4720 Hawthorne Ave|[,,,,,,, False,, ...|bvN78flM8NLprQ1a1...|Antiques, Fashion...|   Portland|[11:0-18:0,, 11:0...|      1|45.5119069956|-122.6136928797|      The Reclaimory|      97214|          13|  4.5|   OR|
| 2566 Enterprise Rd|[,,,,,,,,, True,,...|oaepsyvc0J17qwi8c...|Beauty & Spas, Ha...|Orange City|                null|      1|   28.9144823|    -81.2959787|         Great Clips|      32763|           8|  3.0|   FL|
|1046 Memorial Dr SE|[,,,,,,,,, True, ...|PE9uqAjdw0E4-8mjG...|Gyms, Active Life...|    Atlanta|[16:0-19:0, 16:0-...|      1|   33.7470274|    -84.3534244|   Crossfit Terminus|      30316|          14|  4.0|   GA|
+-------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 5 rows

In [30]:
df_business.createOrReplaceTempView("df_business")

In [31]:
df_business_final = spark.sql('''
                                  SELECT business_id,
                                      latitude,
                                      longitude,
                                      postal_code,
                                      state,
                                      stars,
                                      review_count
                                  FROM df_business
                              ''')

In [32]:
df_business_final.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- state: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_count: long (nullable = true)

In [33]:
df_business_final.show(5)

+--------------------+-------------+---------------+-----------+-----+-----+------------+
|         business_id|     latitude|      longitude|postal_code|state|stars|review_count|
+--------------------+-------------+---------------+-----------+-----+-----+------------+
|6iYb2HFDywm3zjuRg...|   40.0175444|   -105.2833481|      80302|   CO|  4.0|          86|
|tCbdrRPZA0oiIYSmH...|45.5889058992|-122.5933307507|      97218|   OR|  4.0|         126|
|bvN78flM8NLprQ1a1...|45.5119069956|-122.6136928797|      97214|   OR|  4.5|          13|
|oaepsyvc0J17qwi8c...|   28.9144823|    -81.2959787|      32763|   FL|  3.0|           8|
|PE9uqAjdw0E4-8mjG...|   33.7470274|    -84.3534244|      30316|   GA|  4.0|          14|
+--------------------+-------------+---------------+-----------+-----+-----+------------+
only showing top 5 rows

In [34]:
# df_business_final.coalesce(1).write.csv("business_post_etl.csv", header=True)

### Review DataPrep

In [35]:
df_review = spark.read.json(data_location + filename_prefix + "review.json")

In [36]:
df_review.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [37]:
df_review.count()

8635403

In [38]:
df_review.show(5)

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|buF9druCkbuXLX526...|   1|2014-10-11 03:34:02|    1|lWC-xP3rd6obsecCY...|  4.0|Apparently Prides...|     3|ak0TdVmGKo4pwqdJS...|
|RA4V8pr014UyUbDvI...|   0|2015-07-03 20:38:25|    0|8bFej1QE5LXp4O05q...|  4.0|This store is pre...|     1|YoVfDbnISlW0f7abN...|
|_sS2LBIGNT5NQb6PD...|   0|2013-05-28 20:38:06|    0|NDhkzczKjLshODbqD...|  5.0|I called WVM on t...|     0|eC5evKn1TWDyHCyQA...|
|0AzLzHfOJgL7ROwhd...|   1|2010-01-08 02:29:15|    1|T5fAqjjFooT4V0OeZ...|  2.0|I've stayed at ma...|     1|SFQ1jcnGguO0LYWnb...|
|8zehGz9jnxPqXtOc7...|   0|2011-07-28 18:05:01|    0|sjm_uUcQVxab_EeLC...|  4.0|The food is alway...|     0|0kA0PAJ8QFMeveQWH...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 5 rows

In [39]:
df_review.createOrReplaceTempView("df_review")

In [40]:
df_review_final = spark.sql('''
                                SELECT review_id,
                                    to_timestamp(date) AS review_date,
                                    user_id,
                                    business_id,
                                    stars,
                                    text,
                                    ufc_total AS ufc_count_target,
                                CASE
                                    WHEN ufc_total >= 1 THEN "True"
                                    ELSE "False"
                                END AS ufc_bool_target
                                FROM (SELECT review_id,
                                          date,
                                          user_id,
                                          business_id,
                                          stars,
                                          text,
                                          cool + funny + useful AS ufc_total
                                      FROM df_review)
                            ''')

In [41]:
df_review_final.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- review_date: timestamp (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- ufc_count_target: long (nullable = true)
 |-- ufc_bool_target: string (nullable = false)

In [42]:
df_review_final.show(20)

+--------------------+-------------------+--------------------+--------------------+-----+--------------------+----------------+---------------+
|           review_id|        review_date|             user_id|         business_id|stars|                text|ufc_count_target|ufc_bool_target|
+--------------------+-------------------+--------------------+--------------------+-----+--------------------+----------------+---------------+
|lWC-xP3rd6obsecCY...|2014-10-11 03:34:02|ak0TdVmGKo4pwqdJS...|buF9druCkbuXLX526...|  4.0|Apparently Prides...|               5|           True|
|8bFej1QE5LXp4O05q...|2015-07-03 20:38:25|YoVfDbnISlW0f7abN...|RA4V8pr014UyUbDvI...|  4.0|This store is pre...|               1|           True|
|NDhkzczKjLshODbqD...|2013-05-28 20:38:06|eC5evKn1TWDyHCyQA...|_sS2LBIGNT5NQb6PD...|  5.0|I called WVM on t...|               0|          False|
|T5fAqjjFooT4V0OeZ...|2010-01-08 02:29:15|SFQ1jcnGguO0LYWnb...|0AzLzHfOJgL7ROwhd...|  2.0|I've stayed at ma...|               3|           True|
|sjm_uUcQVxab_EeLC...|2011-07-28 18:05:01|0kA0PAJ8QFMeveQWH...|8zehGz9jnxPqXtOc7...|  4.0|The food is alway...|               0|          False|
|J4a2TuhDasjn2k3wW...|2018-01-21 04:41:03|RNm_RWkcd02Li2mKP...|xGXzsc-hzam-VArK6...|  1.0|This place used t...|               2|           True|
|28gGfkLs3igtjVy61...|2006-04-16 02:58:44|Q8c91v7luItVB0cMF...|EXOsmAB1s71WePlQk...|  2.0|The setting is pe...|               0|          False|
|9vqwvFCBG3FBiHGmO...|2017-12-02 18:16:13|XGkAG92TQ3MQUKGX9...|DbXHNl890xSXNiyRc...|  5.0|Probably one of t...|               0|          False|
|2l_TDrQ7p-5tANOyi...|2012-05-28 15:00:47|LWUnzwK0ILquLLZcH...|mD-A9KOWADXvfrZfw...|  4.0|I am definitely a...|               1|           True|
|KKVFopqzcVfcubIBx...|2014-05-07 18:10:21|99RsBrARhhx60UnAC...|EEHhKSxUvJkoPSzeG...|  5.0|I work in the Pru...|               0|          False|
|FdoBFTjXXMn4hVnJ5...|2017-09-08 23:26:10|eLAYHxHUutiXswy-C...|WQFn1A7-UAA4JT5YW...|  1.0|They NEVER seem t...|               0|          False|
|Qv_lQb1Yu9DGsUO3r...|2013-01-02 18:12:15|Ngl83gs3n22SzLAsN...|iZxfWlfNPXV_0S1xO...|  2.0|Disappointing. Bo...|               3|           True|
|Gi5LSRmTXoL9Bp4jN...|2011-10-27 14:32:57|hn0ZbitvmlHnF--KJ...|TA1KUSCu8GkWP9w0r...|  4.0|I have been here ...|               0|          False|
|m1GlqFGIN5eayrbb2...|2014-06-27 22:06:55|B7YSV6r1ePAXc69Fk...|wZgUAuDuEGPEzKK-P...|  1.0|I wish I could gi...|               0|          False|
|j_eh6Iw7qseluR-7K...|2016-08-12 21:59:03|xpxWG7jQXZE6BcSeu...|mw_qxZJraNu7Q6u0G...|  5.0|This is a five-st...|               0|          False|
|egHMQBhFeaLhVyC6w...|2015-10-04 05:37:01|HvpNr0ohHCaVLp014...|gGvNgShksetPoimyK...|  4.0|Quickly stopped i...|               0|          False|
|LBJJWJ0uNlIybMfPn...|2014-02-05 21:09:05|bUHweiErUJ36WGeNr...|6Hm2FmfLcU_M91TrZ...|  5.0|I loved everythin...|              11|           True|
|ucFOnqgaV40oQ2YNy...|2018-03-03 23:45:25|JHXQEayrDHOWGexs0...|KXCXaF5qimmtKKqnP...|  1.0|Great coffee and ...|               0|          False|
|btNWW2kdJYfwpTDyz...|2012-12-04 04:29:47|DECuRZwkUw8ELQZfN...|zmZ3HkVCeZPBefJJx...|  4.0|Nothing special b...|               0|          False|
|3c4LFWiVUHPDQzAd8...|2013-08-15 14:47:40|jySmPCkEkJR3cWJlk...|ZW7aI5FO_3q_vSzI4...|  5.0|Definitely 5 star...|              11|           True|
+--------------------+-------------------+--------------------+--------------------+-----+--------------------+----------------+---------------+
only showing top 20 rows

In [43]:
# df_review_final.coalesce(1).write.csv("review_post_etl.csv", header=True)

### Combining Data Tables

#### Create Temp Tables

In [44]:
df_checkin_final.createOrReplaceTempView("df_checkin_final")
df_user_final.createOrReplaceTempView("df_user_final")
df_business_final.createOrReplaceTempView("df_business_final")
df_review_final.createOrReplaceTempView("df_review_final")

In [45]:
all_data = spark.sql('''
                         SELECT r.review_id,
                             r.user_id,
                             r.business_id,
                             b.latitude AS biz_latitude,
                             b.longitude AS biz_longitude,
                             b.postal_code AS biz_postal_code,
                             b.state AS biz_state,
                             b.stars AS biz_avg_stars,
                             b.review_count AS biz_review_count,
                             c.num_checkins AS biz_checkin_count,
                             c.checkin_min AS biz_min_checkin_date,
                             c.checkin_max AS biz_max_checkin_date,
                             u.yelping_since AS user_yelping_since,
                             u.elite_count AS user_elite_count,
                             u.elite_min AS user_elite_min,
                             u.elite_max AS user_elite_max,
                             u.average_stars AS user_avg_stars,
                             u.review_count AS user_review_count,
                             u.fans AS user_fan_count,
                             u.friend_count AS user_friend_count,
                             u.compliments AS user_compliment_count,
                             u.ufc_count AS user_ufc_count,
                             r.review_date AS review_date,
                             r.stars AS review_stars,
                             r.text AS review_text,
                             r.ufc_count_target AS target_ufc_count,
                             r.ufc_bool_target AS target_ufc_bool
                         FROM df_review_final AS r
                         LEFT JOIN df_user_final AS u
                         ON r.user_id = u.user_id
                         LEFT JOIN df_business_final AS b
                         ON r.business_id = b.business_id
                         LEFT JOIN df_checkin_final AS c
                         ON r.business_id = c.business_id
                     ''')

In [46]:
all_data.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- biz_latitude: double (nullable = true)
 |-- biz_longitude: double (nullable = true)
 |-- biz_postal_code: string (nullable = true)
 |-- biz_state: string (nullable = true)
 |-- biz_avg_stars: double (nullable = true)
 |-- biz_review_count: long (nullable = true)
 |-- biz_checkin_count: integer (nullable = true)
 |-- biz_min_checkin_date: timestamp (nullable = true)
 |-- biz_max_checkin_date: timestamp (nullable = true)
 |-- user_yelping_since: timestamp (nullable = true)
 |-- user_elite_count: integer (nullable = true)
 |-- user_elite_min: integer (nullable = true)
 |-- user_elite_max: integer (nullable = true)
 |-- user_avg_stars: double (nullable = true)
 |-- user_review_count: long (nullable = true)
 |-- user_fan_count: long (nullable = true)
 |-- user_friend_count: integer (nullable = true)
 |-- user_compliment_count: long (nullable = true)
 |-- user_ufc_count: long (nullable = true)
 |-- review_date: timestamp (nullable = true)
 |-- review_stars: double (nullable = true)
 |-- review_text: string (nullable = true)
 |-- target_ufc_count: long (nullable = true)
 |-- target_ufc_bool: string (nullable = false)

In [47]:
all_data.count()

8635403

In [48]:
all_data.show(5)

+--------------------+--------------------+--------------------+------------+-------------+---------------+---------+-------------+----------------+-----------------+--------------------+--------------------+-------------------+----------------+--------------+--------------+--------------+-----------------+--------------+-----------------+---------------------+--------------+-------------------+------------+--------------------+----------------+---------------+
|           review_id|             user_id|         business_id|biz_latitude|biz_longitude|biz_postal_code|biz_state|biz_avg_stars|biz_review_count|biz_checkin_count|biz_min_checkin_date|biz_max_checkin_date| user_yelping_since|user_elite_count|user_elite_min|user_elite_max|user_avg_stars|user_review_count|user_fan_count|user_friend_count|user_compliment_count|user_ufc_count|        review_date|review_stars|         review_text|target_ufc_count|target_ufc_bool|
+--------------------+--------------------+--------------------+------------+-------------+---------------+---------+-------------+----------------+-----------------+--------------------+--------------------+-------------------+----------------+--------------+--------------+--------------+-----------------+--------------+-----------------+---------------------+--------------+-------------------+------------+--------------------+----------------+---------------+
|8u57Miw3BXhwKRf6A...|ofyOSbE04KsDt7e9T...|-36nnCT71XE0InJXK...|  45.6412317| -122.5571137|          98684|       WA|          2.0|              28|              319| 2010-09-27 22:07:06| 2020-11-08 17:48:14|2011-05-31 02:30:33|               0|             0|             0|          4.04|               26|             0|                1|                    3|            44|2019-03-16 00:26:30|         1.0|Deli refuses to l...|               0|          False|
|k4-m65kRrLkRR1YU-...|oLd1zN3dy5cmPCCnd...|-36nnCT71XE0InJXK...|  45.6412317| -122.5571137|          98684|       WA|          2.0|              28|              319| 2010-09-27 22:07:06| 2020-11-08 17:48:14|2013-04-24 04:05:55|               3|          2015|          2017|          3.72|              186|             9|              109|                  110|           776|2020-07-06 20:10:39|         2.0|They keep it clea...|               1|           True|
|YFlgwm1WqI-bxpe7g...|Xg7RVVk9zNXTXyvCZ...|-36nnCT71XE0InJXK...|  45.6412317| -122.5571137|          98684|       WA|          2.0|              28|              319| 2010-09-27 22:07:06| 2020-11-08 17:48:14|2010-08-04 15:33:26|               0|             0|             0|          2.58|               36|             1|                1|                    6|            73|2017-02-14 17:11:55|         1.0|Customer service ...|               0|          False|
|j5seBC5B7KRRkCmFU...|Hi_DpLJZIzCEARnK2...|-36nnCT71XE0InJXK...|  45.6412317| -122.5571137|          98684|       WA|          2.0|              28|              319| 2010-09-27 22:07:06| 2020-11-08 17:48:14|2017-10-23 21:20:18|               0|             0|             0|          4.67|                3|             0|                1|                    0|             0|2018-06-28 23:06:32|         4.0|I wasn't going to...|               0|          False|
|l0VvXStxwvbp-CkIY...|6E4iiEkZFGEVIo_Wh...|-36nnCT71XE0InJXK...|  45.6412317| -122.5571137|          98684|       WA|          2.0|              28|              319| 2010-09-27 22:07:06| 2020-11-08 17:48:14|2017-01-10 21:00:49|               0|             0|             0|          1.42|               10|             0|                1|                    0|             9|2018-07-30 12:50:13|         2.0|This store is clo...|               0|          False|
+--------------------+--------------------+--------------------+------------+-------------+---------------+---------+-------------+----------------+-----------------+--------------------+--------------------+-------------------+----------------+--------------+--------------+--------------+-----------------+--------------+-----------------+---------------------+--------------+-------------------+------------+--------------------+----------------+---------------+
only showing top 5 rows

## Save All Data

In [49]:
# all_data.coalesce(1).write.csv("all_data.csv", header=True, sep=',')

In [50]:
# all_data.coalesce(1).write.json(path='all_data.json')

## Split Data

In [51]:
all_data.createOrReplaceTempView("all_data")

### Split Data Into Train, Test and Holdout Sets

In [52]:
working_data, holdout_data = all_data.randomSplit([0.8, 0.2], seed=12345)

In [53]:
working_data.count()

6906371

In [54]:
holdout_data.count()

1729032

In [55]:
train_data, test_data = working_data.randomSplit([0.8, 0.2], seed=12345)

In [56]:
train_data.count()

5523992

In [57]:
test_data.count()

1382379

### Split Data Into Text and Non-Text

In [58]:
train_data.createOrReplaceTempView("train_data")
test_data.createOrReplaceTempView("test_data")

In [59]:
text_data_train = spark.sql('''
                               SELECT review_id,
                                   review_stars,
                                   review_text,
                                   target_ufc_bool,
                                   target_ufc_count
                               FROM train_data
                            ''')

text_data_test = spark.sql('''
                              SELECT review_id,
                                  review_stars,
                                  review_text,
                                  target_ufc_bool,
                                  target_ufc_count
                              FROM test_data
                           ''')

In [60]:
text_data_train.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- review_stars: double (nullable = true)
 |-- review_text: string (nullable = true)
 |-- target_ufc_bool: string (nullable = false)
 |-- target_ufc_count: long (nullable = true)

In [61]:
text_data_test.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- review_stars: double (nullable = true)
 |-- review_text: string (nullable = true)
 |-- target_ufc_bool: string (nullable = false)
 |-- target_ufc_count: long (nullable = true)

In [62]:
print(f'Text Train Records: {text_data_train.count()}')
print(f'Text Test Records: {text_data_test.count()}')

Text Train Records: 5523992
Text Test Records: 1382379

In [63]:
text_data_train.show(5)

+--------------------+------------+--------------------+---------------+----------------+
|           review_id|review_stars|         review_text|target_ufc_bool|target_ufc_count|
+--------------------+------------+--------------------+---------------+----------------+
|---zlFD4Kgfatr0Sb...|         4.0|Been looking for ...|          False|               0|
|--BcxYRlOpG0v7nVQ...|         4.0|I visited Kyma la...|          False|               0|
|--KO46TSxWzv32x00...|         5.0|It might be the m...|          False|               0|
|--XNrIWxRUafMsGqz...|         5.0|Love this place! ...|           True|               1|
|--aGgQu9HVva6F9fB...|         4.0|Great salad and c...|          False|               0|
+--------------------+------------+--------------------+---------------+----------------+
only showing top 5 rows

In [64]:
text_data_test.show(5)

+--------------------+------------+--------------------+---------------+----------------+
|           review_id|review_stars|         review_text|target_ufc_bool|target_ufc_count|
+--------------------+------------+--------------------+---------------+----------------+
|--p3d1axlnA7ka_p6...|         5.0|Oh, we LOVE this ...|          False|               0|
|-1v3W4XqQcIe44_I1...|         5.0|I didn't smell an...|           True|               5|
|-21y2QEKfhjxh2alg...|         5.0|Wow this place is...|           True|               1|
|-358vecdAUh6ECkNf...|         5.0|For a crepe, you ...|          False|               0|
|-3_NmlYMibrapNEnS...|         5.0|I've visited Kyma...|           True|               1|
+--------------------+------------+--------------------+---------------+----------------+
only showing top 5 rows

In [65]:
non_text_data_train = spark.sql('''
                                   SELECT review_id,
                                       user_id,
                                       business_id,
                                       review_stars,
                                       review_date,
                                       biz_avg_stars,
                                       biz_review_count,
                                       biz_checkin_count,
                                       biz_max_checkin_date,
                                       biz_min_checkin_date,
                                       biz_latitude,
                                       biz_longitude,
                                       biz_postal_code,
                                       biz_state,
                                       user_avg_stars,
                                       user_review_count,
                                       user_friend_count,
                                       user_fan_count,
                                       user_compliment_count,
                                       user_elite_count,
                                       user_elite_max,
                                       user_elite_min,
                                       user_yelping_since,
                                       target_ufc_bool,
                                       target_ufc_count
                                   FROM train_data
                               ''')

non_text_data_test = spark.sql('''
                                  SELECT review_id,
                                      user_id,
                                      business_id,
                                      review_stars,
                                      review_date,
                                      biz_avg_stars,
                                      biz_review_count,
                                      biz_checkin_count,
                                      biz_max_checkin_date,
                                      biz_min_checkin_date,
                                      biz_latitude,
                                      biz_longitude,
                                      biz_postal_code,
                                      biz_state,
                                      user_avg_stars,
                                      user_review_count,
                                      user_friend_count,
                                      user_fan_count,
                                      user_compliment_count,
                                      user_elite_count,
                                      user_elite_max,
                                      user_elite_min,
                                      user_yelping_since,
                                      target_ufc_bool,
                                      target_ufc_count
                                  FROM test_data
                               ''')

In [66]:
non_text_data_train.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- review_stars: double (nullable = true)
 |-- review_date: timestamp (nullable = true)
 |-- biz_avg_stars: double (nullable = true)
 |-- biz_review_count: long (nullable = true)
 |-- biz_checkin_count: integer (nullable = true)
 |-- biz_max_checkin_date: timestamp (nullable = true)
 |-- biz_min_checkin_date: timestamp (nullable = true)
 |-- biz_latitude: double (nullable = true)
 |-- biz_longitude: double (nullable = true)
 |-- biz_postal_code: string (nullable = true)
 |-- biz_state: string (nullable = true)
 |-- user_avg_stars: double (nullable = true)
 |-- user_review_count: long (nullable = true)
 |-- user_friend_count: integer (nullable = true)
 |-- user_fan_count: long (nullable = true)
 |-- user_compliment_count: long (nullable = true)
 |-- user_elite_count: integer (nullable = true)
 |-- user_elite_max: integer (nullable = true)
 |-- user_elite_min: integer (nullable = true)
 |-- user_yelping_since: timestamp (nullable = true)
 |-- target_ufc_bool: string (nullable = false)
 |-- target_ufc_count: long (nullable = true)

In [67]:
non_text_data_test.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- review_stars: double (nullable = true)
 |-- review_date: timestamp (nullable = true)
 |-- biz_avg_stars: double (nullable = true)
 |-- biz_review_count: long (nullable = true)
 |-- biz_checkin_count: integer (nullable = true)
 |-- biz_max_checkin_date: timestamp (nullable = true)
 |-- biz_min_checkin_date: timestamp (nullable = true)
 |-- biz_latitude: double (nullable = true)
 |-- biz_longitude: double (nullable = true)
 |-- biz_postal_code: string (nullable = true)
 |-- biz_state: string (nullable = true)
 |-- user_avg_stars: double (nullable = true)
 |-- user_review_count: long (nullable = true)
 |-- user_friend_count: integer (nullable = true)
 |-- user_fan_count: long (nullable = true)
 |-- user_compliment_count: long (nullable = true)
 |-- user_elite_count: integer (nullable = true)
 |-- user_elite_max: integer (nullable = true)
 |-- user_elite_min: integer (nullable = true)
 |-- user_yelping_since: timestamp (nullable = true)
 |-- target_ufc_bool: string (nullable = false)
 |-- target_ufc_count: long (nullable = true)

In [68]:
non_text_data_train.show(5)

+--------------------+--------------------+--------------------+------------+-------------------+-------------+----------------+-----------------+--------------------+--------------------+------------+-------------+---------------+---------+--------------+-----------------+-----------------+--------------+---------------------+----------------+--------------+--------------+-------------------+---------------+----------------+
|           review_id|             user_id|         business_id|review_stars|        review_date|biz_avg_stars|biz_review_count|biz_checkin_count|biz_max_checkin_date|biz_min_checkin_date|biz_latitude|biz_longitude|biz_postal_code|biz_state|user_avg_stars|user_review_count|user_friend_count|user_fan_count|user_compliment_count|user_elite_count|user_elite_max|user_elite_min| user_yelping_since|target_ufc_bool|target_ufc_count|
+--------------------+--------------------+--------------------+------------+-------------------+-------------+----------------+-----------------+--------------------+--------------------+------------+-------------+---------------+---------+--------------+-----------------+-----------------+--------------+---------------------+----------------+--------------+--------------+-------------------+---------------+----------------+
|---zlFD4Kgfatr0Sb...|kd_hsNZB3ttsO_9H6...|dcAzi-fNs05qLl3lw...|         4.0|2015-11-11 00:35:10|          3.0|              53|               29| 2019-01-01 21:05:15| 2011-10-14 23:21:16|   42.482079|    -71.15087|          01801|       MA|          3.14|                7|                1|             0|                    0|               0|             0|             0|2011-10-10 14:47:48|          False|               0|
|--BcxYRlOpG0v7nVQ...|GEbIUEq5OldlOOniB...|3ZVgig7uux9jVtEZn...|         4.0|2011-08-03 23:46:06|          4.0|             508|              475| 2021-01-27 00:25:38| 2010-03-12 00:06:59|  33.8398553|  -84.3690321|          30305|       GA|          4.49|               46|                1|             1|                    6|               0|             0|             0|2010-03-09 00:08:19|          False|               0|
|--KO46TSxWzv32x00...|qF8-sF2ryy8rXrIjN...|WqwJZaa7l1joH8yZU...|         5.0|2016-06-01 17:40:12|          4.0|             451|              958| 2020-12-12 01:39:07| 2015-03-26 15:45:53|  42.3497511|  -71.0828095|          02116|       MA|           3.6|               10|               12|             0|                    1|               0|             0|             0|2011-10-29 20:25:33|          False|               0|
|--XNrIWxRUafMsGqz...|NliD9btN5UUfz9ejm...|uoxktGnhWOwumm37u...|         5.0|2014-02-13 01:57:17|          4.5|               7|                4| 2018-03-10 17:18:16| 2016-01-23 19:23:02|  28.2477632|   -81.283401|          34769|       FL|          4.42|               25|                6|             0|                    0|               0|             0|             0|2013-12-17 17:26:50|           True|               1|
|--aGgQu9HVva6F9fB...|st1Whr_zLkrwO4EjZ...|9tkitxG3oc4xcP81-...|         4.0|2014-03-16 04:26:02|          2.5|              61|              589| 2020-11-06 22:11:29| 2012-10-14 23:32:12|  28.4920498|  -81.5089948|          32819|       FL|           3.2|               20|                9|             0|                    0|               0|             0|             0|2014-03-15 23:55:24|          False|               0|
+--------------------+--------------------+--------------------+------------+-------------------+-------------+----------------+-----------------+--------------------+--------------------+------------+-------------+---------------+---------+--------------+-----------------+-----------------+--------------+---------------------+----------------+--------------+--------------+-------------------+---------------+----------------+
only showing top 5 rows

In [69]:
non_text_data_test.show(5)

+--------------------+--------------------+--------------------+------------+-------------------+-------------+----------------+-----------------+--------------------+--------------------+------------+-------------+---------------+---------+--------------+-----------------+-----------------+--------------+---------------------+----------------+--------------+--------------+-------------------+---------------+----------------+
|           review_id|             user_id|         business_id|review_stars|        review_date|biz_avg_stars|biz_review_count|biz_checkin_count|biz_max_checkin_date|biz_min_checkin_date|biz_latitude|biz_longitude|biz_postal_code|biz_state|user_avg_stars|user_review_count|user_friend_count|user_fan_count|user_compliment_count|user_elite_count|user_elite_max|user_elite_min| user_yelping_since|target_ufc_bool|target_ufc_count|
+--------------------+--------------------+--------------------+------------+-------------------+-------------+----------------+-----------------+--------------------+--------------------+------------+-------------+---------------+---------+--------------+-----------------+-----------------+--------------+---------------------+----------------+--------------+--------------+-------------------+---------------+----------------+
|--p3d1axlnA7ka_p6...|RrNeDDTs6f45lNy5c...|PBfFmFy8C0WOtpHF_...|         5.0|2011-08-01 00:25:39|          4.5|             662|             2219| 2020-12-09 19:21:26| 2010-01-27 16:03:08|   30.241217|  -97.7582442|          78704|       TX|          3.43|               97|                4|             3|                   11|               2|          2020|          2019|2009-08-19 02:04:01|          False|               0|
|-1v3W4XqQcIe44_I1...|q_3xGtV1nF3bUByYQ...|OztN9An_uaa38MZZ2...|         5.0|2016-05-15 16:42:45|          3.0|             223|              221| 2020-12-19 17:07:41| 2016-05-13 23:21:33|    42.34979|   -71.082729|          02116|       MA|           5.0|                5|                1|             1|                    0|               0|             0|             0|2016-04-01 14:36:09|           True|               5|
|-21y2QEKfhjxh2alg...|MHUF-IVsDM54dF4U0...|Nqy2tJV3AGqW9Uil-...|         5.0|2015-02-24 21:34:42|          4.0|             618|             5183| 2021-01-16 03:17:24| 2014-06-08 03:29:11|  45.5258341| -122.6860839|          97209|       OR|          4.65|               47|               56|             4|                   15|               0|             0|             0|2014-08-02 20:27:44|           True|               1|
|-358vecdAUh6ECkNf...|sWKUzqWSe9Tuj0w2D...|WqwJZaa7l1joH8yZU...|         5.0|2019-10-12 05:25:56|          4.0|             451|              958| 2020-12-12 01:39:07| 2015-03-26 15:45:53|  42.3497511|  -71.0828095|          02116|       MA|          4.17|                5|                1|             0|                    0|               0|             0|             0|2015-04-02 15:03:20|          False|               0|
|-3_NmlYMibrapNEnS...|u0ZqqVRfwFYVlDdfA...|3ZVgig7uux9jVtEZn...|         5.0|2010-06-29 14:29:56|          4.0|             508|              475| 2021-01-27 00:25:38| 2010-03-12 00:06:59|  33.8398553|  -84.3690321|          30305|       GA|           3.4|                5|               15|             2|                    5|               0|             0|             0|2009-01-13 22:55:28|           True|               1|
+--------------------+--------------------+--------------------+------------+-------------------+-------------+----------------+-----------------+--------------------+--------------------+------------+-------------+---------------+---------+--------------+-----------------+-----------------+--------------+---------------------+----------------+--------------+--------------+-------------------+---------------+----------------+
only showing top 5 rows

In [70]:
print(f'Non-Text Train Records: {non_text_data_train.count()}')
print(f'Non-Text Test Records: {non_text_data_test.count()}')

Non-Text Train Records: 5523992
Non-Text Test Records: 1382379

## Save Split Data

### To File

In [71]:
# text_data_train.coalesce(1).write.json(path='text_data_train.json')
# text_data_test.coalesce(1).write.json(path='text_data_test.json')

In [72]:
# non_text_data_train.coalesce(1).write.csv(path='non_text_data_train.csv', header=True, sep=',')
# non_text_data_test.coalesce(1).write.csv(path='non_text_data_test.csv', header=True, sep=',')

In [73]:
# holdout_data.coalesce(1).write.json(path='holdout_data.json')

### To AWS RDS

In [74]:
db_endpoint = None
db_name = None
db_password = None

db_properties = {
    "user": "postgres",
    "password": db_password,
    "driver": "org.postgresql.Driver"
}

db_url = f'jdbc:postgresql://{db_endpoint}/{db_name}'

In [75]:
# text_data_train.write.jdbc(url=db_url,table='text_data_train',mode='overwrite',properties=db_properties)
# text_data_test.write.jdbc(url=db_url,table='text_data_test',mode='overwrite',properties=db_properties)

In [76]:
# non_text_data_train.write.jdbc(url=db_url,table='non_text_data_train',mode='overwrite',properties=db_properties)
# non_text_data_test.write.jdbc(url=db_url,table='non_text_data_test',mode='overwrite',properties=db_properties)

In [77]:
# holdout_data.write.jdbc(url=db_url,table='holdout_data',mode='overwrite',properties=db_properties)