In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

In [2]:
# Pandas and Matplotlib Universal Options
%matplotlib inline
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 500)

In [3]:
# Connection to Postgres Yelp Database - Table: restaurant_reviews_final
conn = psycopg2.connect(database="yelp", user="postgres",
                        password='password', host="localhost", port="5432")
query = '''
        SELECT *
        FROM restaurant_reviews_final
        LIMIT 10000
        ;
        '''
df = pd.read_sql(query, conn)
# print(df.info())

In [4]:
# Creating a copy of the data to play around with.
test = df.copy()
test

,review_id,user_id,business_id,review_stars,review_date,review_text,review_useful,review_funny,review_cool,restaurant_name,restaurant_address,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_name,user_review_count,user_yelping_since,user_useful,user_funny,user_cool,user_elite,user_friends,user_fans,user_average_stars_given,user_compliment_hot,user_compliment_more,user_compliment_profile,user_compliment_cute,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,restaurant_checkins
0,HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,0,0,0,Banjara Indian Cuisine,796 Bloor Street W,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,Aizhan,4,2016-12-28 05:18:52,3,0,0,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010..."
1,ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",1,0,1,Good Fellas Grill,15414 N 19th Ave,Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,Patricia,17,2014-04-21 17:46:20,12,2,4,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,0,0,0,0,0,1,0,0,0,0,0,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011..."
2,baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,0,0,0,MIX,"Mandalay Bay Resort & Casino, 3950 Las Vegas B...",Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,Gregory,187,2011-01-27 20:12:39,98,24,47,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,0,1,0,0,1,3,10,2,2,1,3,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010..."
3,Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,1,0,0,Chez Suzette,3 Rue Saint-Paul E,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,Melanie,13,2016-04-05 12:14:54,2,0,0,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,0,0,0,0,0,0,0,0,0,0,0,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010..."
4,fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,2,0,0,El Encanto,6248 E Cave Creek Rd,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,Wayne,2,2013-01-01 22:27:40,2,0,0,,None,0,1.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,odrbRmYtmx5siuCdOokyfQ,x3CNhbu1KINh5HEn8cJtng,k-tg18rWRibZ4jKpoqhb0Q,5,2019-07-21 04:03:48,This is such a great place to eat!! I love the...,0,0,0,Bonchon - SW Las Vegas,"6455 S Rainbow Blvd, Ste 101",South Las Vegas,NV,89118,36.071733,-115.242963,3.5,435,1,"Korean, Asian Fusion, Restaurants, Chicken Wings",2,Aireka,6,2015-11-15 22:02:02,2,1,2,,"gvrermghRMVXuEOCr-_S8A, qB9uUS-gcnzA8Zh6mLdNuw...",0,3.83,0,0,0,0,0,0,0,0,0,0,0,"2016-06-01 19:59:03, 2016-06-01 21:56:20, 2016..."
9996,0DCiHszEiAfHcM68iKCD-A,y_4UdLKpt9nsojhndcE45g,k6pWX0v60LIRS2guzkpxqQ,4,2016-02-13 03:20:34,This is a review of Thursday eve. We went at a...,1,0,0,Wandering Horse Buffet,9800 E Talking Stick Way,Scottsdale,AZ,85256,33.540903,-111.869724,3.5,540,1,"Buffets, Restaurants, Breakfast & Brunch, Food",2,Rach,125,2012-03-14 03:26:37,277,99,83,"2017,2018","NULZ8Pi6Q8sRRDsFBIP33A, XeAEV3DbZuG01Ja2yFMYEg...",7,3.30,0,1,1,0,0,4,2,0,0,4,1,"2010-05-01 20:24:35, 2010-05-02 18:53:40, 2010..."
9997,nkxWjN0Q7XYqIyvohEo4eg,XMUcwwmBO1pQ7CxSLuc6nw,d_L-rfS1vT3JMzgCUGtiow,3,2019-03-11 17:23:20,Modern style restaurant for Mexican food. \nIn...,0,0,0,Border Grill,3950 S Las Vegas Blvd,Las Vegas,NV,89119,36.090067,-115.176973,4.0,1806,1,"Breakfast & Brunch, Tapas/Small Plates, Restau...",2,Teo,32,2014-04-13 06:06:09,11,1,1,,None,0,3.64,0,0,0,0,0,0,0,0,0,0,1,"2010-02-10 01:49:50, 2010-02-23 22:53:20, 2010..."
9998,zKOlqtxL7nyOJiSIE_3LBQ,bg9FRc71Daub48GmIKfX_A,6eRSdODyj9GS0w6zlhrWkg,3,2015-07-13 01:18:56,I was very excited to try this place. Actually...,1,0,0,Adega Restaurante,33 Elm St,Toronto,ON,M5G 1H1,43.657311,-79.383229,4.0,144,1,"Restaurants, Spanish, Portuguese",3,Raymond,98,2014-06-06 04:53:20,253,39,126,"2016,2017,2018","dX9zwGnoxNvmkMReZV3jaA, GNTxqWboJe0vVIr1G4lgWA...",35,3.40,0,1,2,0,0,2,6,7,7,8,10,"2010-11-05 18:05:52, 2010-12-13 23:56:51, 2011..."
9999,IRR2wwwGSwldPuP2Qm1K-w,NdQjTmY_0gqDNFFTrqWAoA,1E1Qp9HWSZmqruir3sTeKw,3,2019-10-26 19:12:51,Not bad \nFrench fires were too dry but the me...,0,0,0,The Greek Pita,"2737 W Thunderbird Rd, Ste 108",Phoenix,AZ,85053,33.609811,-112.119194,4.5,167,1,"Food, Mediterranean, Restaurants, Greek",1,Daniela,152,2010-06-11 20:50:50,233,20,44,2015,"tbjwrvVY89L2GhzQUgAnPA, EzK1o3nhLShT1nqgwYMN5A...",4,3.89,0,1,0,0,0,0,3,2,2,1,1,"2010-05-27 01:35:14, 2010-07-27 19:37:42, 2010..."

### Delete Unnecessary Columns

In [5]:
test.head(5)

,review_id,user_id,business_id,review_stars,review_date,review_text,review_useful,review_funny,review_cool,restaurant_name,restaurant_address,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_name,user_review_count,user_yelping_since,user_useful,user_funny,user_cool,user_elite,user_friends,user_fans,user_average_stars_given,user_compliment_hot,user_compliment_more,user_compliment_profile,user_compliment_cute,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,restaurant_checkins
0,HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,0,0,0,Banjara Indian Cuisine,796 Bloor Street W,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,Aizhan,4,2016-12-28 05:18:52,3,0,0,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010..."
1,ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",1,0,1,Good Fellas Grill,15414 N 19th Ave,Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,Patricia,17,2014-04-21 17:46:20,12,2,4,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,0,0,0,0,0,1,0,0,0,0,0,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011..."
2,baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,0,0,0,MIX,"Mandalay Bay Resort & Casino, 3950 Las Vegas B...",Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,Gregory,187,2011-01-27 20:12:39,98,24,47,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,0,1,0,0,1,3,10,2,2,1,3,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010..."
3,Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,1,0,0,Chez Suzette,3 Rue Saint-Paul E,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,Melanie,13,2016-04-05 12:14:54,2,0,0,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,0,0,0,0,0,0,0,0,0,0,0,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010..."
4,fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,2,0,0,El Encanto,6248 E Cave Creek Rd,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,Wayne,2,2013-01-01 22:27:40,2,0,0,,None,0,1.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010..."

In [ ]:
# Set Index to review_id
test.set_index('review_id', inplace=True, verify_integrity=True)

In [8]:
columns_to_drop = ['restaurant_name', 'restaurant_address', 'user_name']
test.drop(labels=columns_to_drop, axis=1, inplace=True)
test.head(5)

,user_id,business_id,review_stars,review_date,review_text,review_useful,review_funny,review_cool,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_useful,user_funny,user_cool,user_elite,user_friends,user_fans,user_average_stars_given,user_compliment_hot,user_compliment_more,user_compliment_profile,user_compliment_cute,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,restaurant_checkins
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,0,0,0,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,3,0,0,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010..."
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",1,0,1,Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,12,2,4,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,0,0,0,0,0,1,0,0,0,0,0,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011..."
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,0,0,0,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,98,24,47,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,0,1,0,0,1,3,10,2,2,1,3,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010..."
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,1,0,0,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,2,0,0,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,0,0,0,0,0,0,0,0,0,0,0,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010..."
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,2,0,0,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,2,0,0,,None,0,1.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010..."

### Combine Columns Where Individual Columns are not Useful

In [11]:
# Combining sub-targets
# Consider weighting them separately in the future.
test['review_total_positives'] = test[['review_useful', 'review_funny', 'review_cool']].sum(axis=1)
test.head(5)

,user_id,business_id,review_stars,review_date,review_text,review_useful,review_funny,review_cool,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_useful,user_funny,user_cool,user_elite,user_friends,user_fans,user_average_stars_given,user_compliment_hot,user_compliment_more,user_compliment_profile,user_compliment_cute,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,restaurant_checkins,review_total_positives
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,0,0,0,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,3,0,0,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",1,0,1,Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,12,2,4,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,0,0,0,0,0,1,0,0,0,0,0,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,0,0,0,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,98,24,47,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,0,1,0,0,1,3,10,2,2,1,3,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,1,0,0,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,2,0,0,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,0,0,0,0,0,0,0,0,0,0,0,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,2,0,0,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,2,0,0,,None,0,1.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2

In [12]:
test.drop(labels=['review_useful', 'review_funny', 'review_cool'], axis=1, inplace=True)

In [14]:
test['user_total_positives'] = test[['user_useful', 'user_funny', 'user_cool']].sum(axis=1)
test.drop(labels=['user_useful', 'user_funny', 'user_cool'], axis=1, inplace=True)
test.head()

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_elite,user_friends,user_fans,user_average_stars_given,user_compliment_hot,user_compliment_more,user_compliment_profile,user_compliment_cute,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,restaurant_checkins,review_total_positives,user_total_positives
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0,3
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,0,0,0,0,0,1,0,0,0,0,0,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2,18
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,0,1,0,0,1,3,10,2,2,1,3,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0,169
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,0,0,0,0,0,0,0,0,0,0,0,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1,2
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,,None,0,1.00,0,0,0,0,0,0,0,0,0,0,0,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2,2

In [15]:
compliment_columns = ['user_compliment_hot', 'user_compliment_more', 
                      'user_compliment_profile', 'user_compliment_cute',
                      'user_compliment_list', 'user_compliment_note',
                      'user_compliment_plain', 'user_compliment_cool',
                      'user_compliment_funny', 'user_compliment_writer',
                      'user_compliment_photos']
test['user_total_compliments'] = test[compliment_columns].sum(axis=1)
test.drop(labels=compliment_columns, axis=1, inplace=True)
test.head()

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_elite,user_friends,user_fans,user_average_stars_given,restaurant_checkins,review_total_positives,user_total_positives,user_total_compliments
review_id,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0,3,0
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2,18,1
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0,169,23
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1,2,0
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,,None,0,1.00,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2,2,0

### Split List Columns Into Useful Columns

In [18]:
def count_friends(x):
    friend_count = 0 
    if x in ['None', None, '']:
        friend_count = 0
    else:
        y = x.split(',')
        friend_count = len(y)
    return friend_count


test['user_friends_count'] = test.user_friends.apply(count_friends)
test.head(10)

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_elite,user_friends,user_fans,user_average_stars_given,restaurant_checkins,review_total_positives,user_total_positives,user_total_compliments,user_friends_count
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0,3,0,131
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2,18,1,14
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0,169,23,48
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1,2,0,1
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,,None,0,1.00,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2,2,0,0
J52yUXq7ErZ7ITEIFbYbdQ,RPP-OIthtyAIpH_3GjMyTA,urgjbqhtZD20G5h3XM76wQ,5,2018-08-30 17:49:47,Great food. Usually wait until 130 or 2pm for...,Charlotte,NC,28202,35.227237,-80.842851,4.5,111,1,"Restaurants, Halal, Food Trucks, Food",1,26,2015-02-06 21:06:31,,None,0,4.00,"2016-08-22 18:41:37, 2016-08-30 17:48:51, 2016...",0,13,0,0
TlWgwINNjkR4IgR5cPDkdg,V_0YXUICnYpL9dBrQaygXA,l3V86Z6oAzpnwe1VYM4VPg,4,2019-04-21 23:32:55,We had a private room which was nice \nExcelle...,Mississauga,ON,L4X 1M3,43.624887,-79.568153,3.0,76,1,"Nightlife, Lounges, Bars, Restaurants, Italian",2,37,2012-06-30 02:48:27,,None,0,2.36,"2010-07-07 02:31:04, 2011-04-18 23:21:38, 2011...",0,61,3,0
d4k3-_UlMXFZBv2Le8hspQ,jDdHQCG5d_Nutimn1zs9Pw,tV5PcOIFlB12dpcbCy78VA,4,2014-01-15 07:35:30,Favorite Indian food in AZ. The staff is frien...,Mesa,AZ,85204,33.391635,-111.787783,4.5,782,1,"Buffets, Restaurants, Indian",2,27,2013-10-04 01:47:22,,"IDrgtQccPN9c4rBn7yyk4Q, YgiWTaxRNyTymUuQ9qhmlA...",6,3.76,"2010-07-30 13:52:01, 2010-08-29 19:33:20, 2010...",5,108,41,295
z0TE3VL7OtnsmK9iWj4k4w,Rs2bBWj0f4EBVk6t5eXCYw,0eZHVYDyACtVVOIgoBlV3g,4,2015-01-11 23:31:52,Seafood soup and fried rice were excellent for...,Las Vegas,NV,89102,36.125489,-115.197078,3.5,46,0,"Chinese, Restaurants",1,188,2013-03-14 17:35:06,2017,"qg6U311-L30hU_pO6ixsfg, xCgR2IKFJM03q0uuPABRiQ...",12,3.95,"2012-01-03 19:47:52, 2012-02-05 01:22:23, 2012...",0,622,28,644
0VLHKPbA9al48pfycWd-0A,h2k6qP21TVxUG1Jui7RKjg,gdWy-x5KbCbMrwIwI87mMg,3,2013-09-23 23:24:47,The first time I came here with the beloved it...,Las Vegas,NV,89109,36.116922,-115.175011,4.0,684,1,"Steakhouses, Restaurants, Seafood",4,216,2010-02-17 21:17:39,"2010,2011","w5bAI7USuCvyl8kZzj6sQw, f1_4h2uJLURTkcwhOLaWJA...",22,3.24,"2011-12-23 03:35:46, 2011-12-23 04:59:25, 2011...",7,1599,275,166

In [19]:
def count_elite(x):
    elite_count = 0 
    if x in ['None', None, '']:
        elite_count = 0
    else:
        y = x.split(',')
        elite_count = len(y)
    return elite_count

test['user_elite_count'] = test.user_elite.apply(count_elite)
test.head(10)

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_elite,user_friends,user_fans,user_average_stars_given,restaurant_checkins,review_total_positives,user_total_positives,user_total_compliments,user_friends_count,user_elite_count
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0,3,0,131,0
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2,18,1,14,0
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0,169,23,48,0
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1,2,0,1,0
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,,None,0,1.00,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2,2,0,0,0
J52yUXq7ErZ7ITEIFbYbdQ,RPP-OIthtyAIpH_3GjMyTA,urgjbqhtZD20G5h3XM76wQ,5,2018-08-30 17:49:47,Great food. Usually wait until 130 or 2pm for...,Charlotte,NC,28202,35.227237,-80.842851,4.5,111,1,"Restaurants, Halal, Food Trucks, Food",1,26,2015-02-06 21:06:31,,None,0,4.00,"2016-08-22 18:41:37, 2016-08-30 17:48:51, 2016...",0,13,0,0,0
TlWgwINNjkR4IgR5cPDkdg,V_0YXUICnYpL9dBrQaygXA,l3V86Z6oAzpnwe1VYM4VPg,4,2019-04-21 23:32:55,We had a private room which was nice \nExcelle...,Mississauga,ON,L4X 1M3,43.624887,-79.568153,3.0,76,1,"Nightlife, Lounges, Bars, Restaurants, Italian",2,37,2012-06-30 02:48:27,,None,0,2.36,"2010-07-07 02:31:04, 2011-04-18 23:21:38, 2011...",0,61,3,0,0
d4k3-_UlMXFZBv2Le8hspQ,jDdHQCG5d_Nutimn1zs9Pw,tV5PcOIFlB12dpcbCy78VA,4,2014-01-15 07:35:30,Favorite Indian food in AZ. The staff is frien...,Mesa,AZ,85204,33.391635,-111.787783,4.5,782,1,"Buffets, Restaurants, Indian",2,27,2013-10-04 01:47:22,,"IDrgtQccPN9c4rBn7yyk4Q, YgiWTaxRNyTymUuQ9qhmlA...",6,3.76,"2010-07-30 13:52:01, 2010-08-29 19:33:20, 2010...",5,108,41,295,0
z0TE3VL7OtnsmK9iWj4k4w,Rs2bBWj0f4EBVk6t5eXCYw,0eZHVYDyACtVVOIgoBlV3g,4,2015-01-11 23:31:52,Seafood soup and fried rice were excellent for...,Las Vegas,NV,89102,36.125489,-115.197078,3.5,46,0,"Chinese, Restaurants",1,188,2013-03-14 17:35:06,2017,"qg6U311-L30hU_pO6ixsfg, xCgR2IKFJM03q0uuPABRiQ...",12,3.95,"2012-01-03 19:47:52, 2012-02-05 01:22:23, 2012...",0,622,28,644,1
0VLHKPbA9al48pfycWd-0A,h2k6qP21TVxUG1Jui7RKjg,gdWy-x5KbCbMrwIwI87mMg,3,2013-09-23 23:24:47,The first time I came here with the beloved it...,Las Vegas,NV,89109,36.116922,-115.175011,4.0,684,1,"Steakhouses, Restaurants, Seafood",4,216,2010-02-17 21:17:39,"2010,2011","w5bAI7USuCvyl8kZzj6sQw, f1_4h2uJLURTkcwhOLaWJA...",22,3.24,"2011-12-23 03:35:46, 2011-12-23 04:59:25, 2011...",7,1599,275,166,2

In [20]:
def most_recent_elite(x):
    most_recent = 0 
    if x in ['None', None, '']:
        most_recent = 0
    else:    
        y = x.split(',')
        most_recent = max(y)
    return most_recent

test['user_elite_most_recent'] = test.user_elite.apply(most_recent_elite)
test.head(10)

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_elite,user_friends,user_fans,user_average_stars_given,restaurant_checkins,review_total_positives,user_total_positives,user_total_compliments,user_friends_count,user_elite_count,user_elite_most_recent
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0,3,0,131,0,0
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2,18,1,14,0,0
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0,169,23,48,0,0
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1,2,0,1,0,0
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,,None,0,1.00,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2,2,0,0,0,0
J52yUXq7ErZ7ITEIFbYbdQ,RPP-OIthtyAIpH_3GjMyTA,urgjbqhtZD20G5h3XM76wQ,5,2018-08-30 17:49:47,Great food. Usually wait until 130 or 2pm for...,Charlotte,NC,28202,35.227237,-80.842851,4.5,111,1,"Restaurants, Halal, Food Trucks, Food",1,26,2015-02-06 21:06:31,,None,0,4.00,"2016-08-22 18:41:37, 2016-08-30 17:48:51, 2016...",0,13,0,0,0,0
TlWgwINNjkR4IgR5cPDkdg,V_0YXUICnYpL9dBrQaygXA,l3V86Z6oAzpnwe1VYM4VPg,4,2019-04-21 23:32:55,We had a private room which was nice \nExcelle...,Mississauga,ON,L4X 1M3,43.624887,-79.568153,3.0,76,1,"Nightlife, Lounges, Bars, Restaurants, Italian",2,37,2012-06-30 02:48:27,,None,0,2.36,"2010-07-07 02:31:04, 2011-04-18 23:21:38, 2011...",0,61,3,0,0,0
d4k3-_UlMXFZBv2Le8hspQ,jDdHQCG5d_Nutimn1zs9Pw,tV5PcOIFlB12dpcbCy78VA,4,2014-01-15 07:35:30,Favorite Indian food in AZ. The staff is frien...,Mesa,AZ,85204,33.391635,-111.787783,4.5,782,1,"Buffets, Restaurants, Indian",2,27,2013-10-04 01:47:22,,"IDrgtQccPN9c4rBn7yyk4Q, YgiWTaxRNyTymUuQ9qhmlA...",6,3.76,"2010-07-30 13:52:01, 2010-08-29 19:33:20, 2010...",5,108,41,295,0,0
z0TE3VL7OtnsmK9iWj4k4w,Rs2bBWj0f4EBVk6t5eXCYw,0eZHVYDyACtVVOIgoBlV3g,4,2015-01-11 23:31:52,Seafood soup and fried rice were excellent for...,Las Vegas,NV,89102,36.125489,-115.197078,3.5,46,0,"Chinese, Restaurants",1,188,2013-03-14 17:35:06,2017,"qg6U311-L30hU_pO6ixsfg, xCgR2IKFJM03q0uuPABRiQ...",12,3.95,"2012-01-03 19:47:52, 2012-02-05 01:22:23, 2012...",0,622,28,644,1,2017
0VLHKPbA9al48pfycWd-0A,h2k6qP21TVxUG1Jui7RKjg,gdWy-x5KbCbMrwIwI87mMg,3,2013-09-23 23:24:47,The first time I came here with the beloved it...,Las Vegas,NV,89109,36.116922,-115.175011,4.0,684,1,"Steakhouses, Restaurants, Seafood",4,216,2010-02-17 21:17:39,"2010,2011","w5bAI7USuCvyl8kZzj6sQw, f1_4h2uJLURTkcwhOLaWJA...",22,3.24,"2011-12-23 03:35:46, 2011-12-23 04:59:25, 2011...",7,1599,275,166,2,2011

In [21]:
test.head(5)

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_elite,user_friends,user_fans,user_average_stars_given,restaurant_checkins,review_total_positives,user_total_positives,user_total_compliments,user_friends_count,user_elite_count,user_elite_most_recent
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0,3,0,131,0,0
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2,18,1,14,0,0
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0,169,23,48,0,0
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1,2,0,1,0,0
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,,None,0,1.00,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2,2,0,0,0,0

In [22]:
def count_checkins(x):
    checkin_count = 0 
    if x in ['None', None, '']:
        checkin_count = 0
    else:
        y = x.split(',')
        checkin_count = len(y)
    return checkin_count

test['restaurant_checkin_count'] = test.restaurant_checkins.apply(count_checkins)
test.head(10)

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_categories,restaurant_price_range,user_review_count,user_yelping_since,user_elite,user_friends,user_fans,user_average_stars_given,restaurant_checkins,review_total_positives,user_total_positives,user_total_compliments,user_friends_count,user_elite_count,user_elite_most_recent,restaurant_checkin_count
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,"Pakistani, Restaurants, Indian, Middle Eastern",2,4,2016-12-28 05:18:52,,"yQXsj2_6-PWQn94y-IZeUQ, ceeDQ2-hRuEQzN2ytNUKqA...",1,2.00,"2010-02-24 23:01:29, 2010-02-27 18:03:10, 2010...",0,3,0,131,0,0,391
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,"Restaurants, Event Planning & Services, Medite...",1,17,2014-04-21 17:46:20,,"EFddWhL1J2w5BrUhHvmxdw, wxgh8egt4Ri5SOirieJmhw...",0,4.00,"2011-05-13 19:41:54, 2011-05-20 02:41:30, 2011...",2,18,1,14,0,0,2013
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,"Restaurants, American (New), French, Bars, Nig...",4,187,2011-01-27 20:12:39,,"HumyA6GCV8DjFOmSWy9JMw, QFjqxXn3acDC7hckFGUKMg...",2,3.77,"2010-01-23 06:56:07, 2010-02-09 18:28:11, 2010...",0,169,23,48,0,0,1967
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,"Restaurants, Creperies, Fondue, Desserts, Food...",2,13,2016-04-05 12:14:54,,4bdP6b6qYzVPmtNVoMIc9Q,1,3.38,"2010-07-16 17:22:48, 2010-08-01 02:38:35, 2010...",1,2,0,1,0,0,612
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,"Restaurants, Mexican",2,2,2013-01-01 22:27:40,,None,0,1.00,"2010-02-19 02:42:34, 2010-04-04 00:58:32, 2010...",2,2,0,0,0,0,1227
J52yUXq7ErZ7ITEIFbYbdQ,RPP-OIthtyAIpH_3GjMyTA,urgjbqhtZD20G5h3XM76wQ,5,2018-08-30 17:49:47,Great food. Usually wait until 130 or 2pm for...,Charlotte,NC,28202,35.227237,-80.842851,4.5,111,1,"Restaurants, Halal, Food Trucks, Food",1,26,2015-02-06 21:06:31,,None,0,4.00,"2016-08-22 18:41:37, 2016-08-30 17:48:51, 2016...",0,13,0,0,0,0,158
TlWgwINNjkR4IgR5cPDkdg,V_0YXUICnYpL9dBrQaygXA,l3V86Z6oAzpnwe1VYM4VPg,4,2019-04-21 23:32:55,We had a private room which was nice \nExcelle...,Mississauga,ON,L4X 1M3,43.624887,-79.568153,3.0,76,1,"Nightlife, Lounges, Bars, Restaurants, Italian",2,37,2012-06-30 02:48:27,,None,0,2.36,"2010-07-07 02:31:04, 2011-04-18 23:21:38, 2011...",0,61,3,0,0,0,91
d4k3-_UlMXFZBv2Le8hspQ,jDdHQCG5d_Nutimn1zs9Pw,tV5PcOIFlB12dpcbCy78VA,4,2014-01-15 07:35:30,Favorite Indian food in AZ. The staff is frien...,Mesa,AZ,85204,33.391635,-111.787783,4.5,782,1,"Buffets, Restaurants, Indian",2,27,2013-10-04 01:47:22,,"IDrgtQccPN9c4rBn7yyk4Q, YgiWTaxRNyTymUuQ9qhmlA...",6,3.76,"2010-07-30 13:52:01, 2010-08-29 19:33:20, 2010...",5,108,41,295,0,0,1480
z0TE3VL7OtnsmK9iWj4k4w,Rs2bBWj0f4EBVk6t5eXCYw,0eZHVYDyACtVVOIgoBlV3g,4,2015-01-11 23:31:52,Seafood soup and fried rice were excellent for...,Las Vegas,NV,89102,36.125489,-115.197078,3.5,46,0,"Chinese, Restaurants",1,188,2013-03-14 17:35:06,2017,"qg6U311-L30hU_pO6ixsfg, xCgR2IKFJM03q0uuPABRiQ...",12,3.95,"2012-01-03 19:47:52, 2012-02-05 01:22:23, 2012...",0,622,28,644,1,2017,133
0VLHKPbA9al48pfycWd-0A,h2k6qP21TVxUG1Jui7RKjg,gdWy-x5KbCbMrwIwI87mMg,3,2013-09-23 23:24:47,The first time I came here with the beloved it...,Las Vegas,NV,89109,36.116922,-115.175011,4.0,684,1,"Steakhouses, Restaurants, Seafood",4,216,2010-02-17 21:17:39,"2010,2011","w5bAI7USuCvyl8kZzj6sQw, f1_4h2uJLURTkcwhOLaWJA...",22,3.24,"2011-12-23 03:35:46, 2011-12-23 04:59:25, 2011...",7,1599,275,166,2,2011,1069

In [23]:
test.drop(labels=['restaurant_categories', 'user_friends', 'user_elite', 'restaurant_checkins'], axis=1, inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, HO0MNezuWqCc8Z-MUCIpxw to IRR2wwwGSwldPuP2Qm1K-w
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   user_id                   10000 non-null  object
 1   business_id               10000 non-null  object
 2   review_stars              10000 non-null  int64
 3   review_date               10000 non-null  datetime64[ns]
 4   review_text               10000 non-null  object
 5   restaurant_city           10000 non-null  object
 6   restaurant_state          10000 non-null  object
 7   restaurant_postal_code    10000 non-null  object
 8   restaurant_latitude       10000 non-null  float64
 9   restaurant_longitude      10000 non-null  float64
 10  restaurant_overall_stars  10000 non-null  float64
 11  restaurant_review_count   10000 non-null  int64
 12  restaurant_is_open        10000 non-null  int64
 13  restaurant_price_range    9817 non-null   object
 14  user_review_count         10000 non-null  int64
 15  user_yelping_since        10000 non-null  object
 16  user_fans                 10000 non-null  int64
 17  user_average_stars_given  10000 non-null  float64
 18  review_total_positives    10000 non-null  int64
 19  user_total_positives      10000 non-null  int64
 20  user_total_compliments    10000 non-null  int64
 21  user_friends_count        10000 non-null  int64
 22  user_elite_count          10000 non-null  int64
 23  user_elite_most_recent    10000 non-null  object
 24  restaurant_checkin_count  10000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(11), object(9)
memory usage: 2.0+ MB

### Deal With Nan/Null Values

In [25]:
# Restaurant Price Range only column with Nan/Null values.
# Only a small percentage were Nan/Null so dropping all rows with the Nan/Nulls
# Considered filling the Nan/Nulls but determined it wasn't worth the effort.
# Other Nan/Nulls avoided during sql inner joins and counts of columns done above.
test.dropna(inplace=True)

### Convert Data Types to Correct Types for Column

In [24]:
test['user_yelp_start'] = pd.to_datetime(test['user_yelping_since'])
print(test.info())
test.head(5)

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, HO0MNezuWqCc8Z-MUCIpxw to IRR2wwwGSwldPuP2Qm1K-w
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   user_id                   10000 non-null  object
 1   business_id               10000 non-null  object
 2   review_stars              10000 non-null  int64
 3   review_date               10000 non-null  datetime64[ns]
 4   review_text               10000 non-null  object
 5   restaurant_city           10000 non-null  object
 6   restaurant_state          10000 non-null  object
 7   restaurant_postal_code    10000 non-null  object
 8   restaurant_latitude       10000 non-null  float64
 9   restaurant_longitude      10000 non-null  float64
 10  restaurant_overall_stars  10000 non-null  float64
 11  restaurant_review_count   10000 non-null  int64
 12  restaurant_is_open        10000 non-null  int64
 13  restaurant_price_range    9817 non-null   object
 14  user_review_count         10000 non-null  int64
 15  user_yelping_since        10000 non-null  object
 16  user_fans                 10000 non-null  int64
 17  user_average_stars_given  10000 non-null  float64
 18  review_total_positives    10000 non-null  int64
 19  user_total_positives      10000 non-null  int64
 20  user_total_compliments    10000 non-null  int64
 21  user_friends_count        10000 non-null  int64
 22  user_elite_count          10000 non-null  int64
 23  user_elite_most_recent    10000 non-null  object
 24  restaurant_checkin_count  10000 non-null  int64
 25  user_yelp_start           10000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(11), object(9)
memory usage: 2.1+ MB
None

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,restaurant_price_range,user_review_count,user_yelping_since,user_fans,user_average_stars_given,review_total_positives,user_total_positives,user_total_compliments,user_friends_count,user_elite_count,user_elite_most_recent,restaurant_checkin_count,user_yelp_start
review_id,,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,2,4,2016-12-28 05:18:52,1,2.00,0,3,0,131,0,0,391,2016-12-28 05:18:52
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,1,17,2014-04-21 17:46:20,0,4.00,2,18,1,14,0,0,2013,2014-04-21 17:46:20
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,4,187,2011-01-27 20:12:39,2,3.77,0,169,23,48,0,0,1967,2011-01-27 20:12:39
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,2,13,2016-04-05 12:14:54,1,3.38,1,2,0,1,0,0,612,2016-04-05 12:14:54
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,2,2,2013-01-01 22:27:40,0,1.00,2,2,0,0,0,0,1227,2013-01-01 22:27:40

In [26]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9817 entries, HO0MNezuWqCc8Z-MUCIpxw to IRR2wwwGSwldPuP2Qm1K-w
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   user_id                   9817 non-null   object
 1   business_id               9817 non-null   object
 2   review_stars              9817 non-null   int64
 3   review_date               9817 non-null   datetime64[ns]
 4   review_text               9817 non-null   object
 5   restaurant_city           9817 non-null   object
 6   restaurant_state          9817 non-null   object
 7   restaurant_postal_code    9817 non-null   object
 8   restaurant_latitude       9817 non-null   float64
 9   restaurant_longitude      9817 non-null   float64
 10  restaurant_overall_stars  9817 non-null   float64
 11  restaurant_review_count   9817 non-null   int64
 12  restaurant_is_open        9817 non-null   int64
 13  restaurant_price_range    9817 non-null   object
 14  user_review_count         9817 non-null   int64
 15  user_yelping_since        9817 non-null   object
 16  user_fans                 9817 non-null   int64
 17  user_average_stars_given  9817 non-null   float64
 18  review_total_positives    9817 non-null   int64
 19  user_total_positives      9817 non-null   int64
 20  user_total_compliments    9817 non-null   int64
 21  user_friends_count        9817 non-null   int64
 22  user_elite_count          9817 non-null   int64
 23  user_elite_most_recent    9817 non-null   object
 24  restaurant_checkin_count  9817 non-null   int64
 25  user_yelp_start           9817 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(11), object(9)
memory usage: 2.0+ MB

In [27]:
test['restaurant_price'] = pd.to_numeric(test['restaurant_price_range'])
test['user_most_recent_elite'] = pd.to_numeric(test['user_elite_most_recent'])
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9817 entries, HO0MNezuWqCc8Z-MUCIpxw to IRR2wwwGSwldPuP2Qm1K-w
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   user_id                   9817 non-null   object
 1   business_id               9817 non-null   object
 2   review_stars              9817 non-null   int64
 3   review_date               9817 non-null   datetime64[ns]
 4   review_text               9817 non-null   object
 5   restaurant_city           9817 non-null   object
 6   restaurant_state          9817 non-null   object
 7   restaurant_postal_code    9817 non-null   object
 8   restaurant_latitude       9817 non-null   float64
 9   restaurant_longitude      9817 non-null   float64
 10  restaurant_overall_stars  9817 non-null   float64
 11  restaurant_review_count   9817 non-null   int64
 12  restaurant_is_open        9817 non-null   int64
 13  restaurant_price_range    9817 non-null   object
 14  user_review_count         9817 non-null   int64
 15  user_yelping_since        9817 non-null   object
 16  user_fans                 9817 non-null   int64
 17  user_average_stars_given  9817 non-null   float64
 18  review_total_positives    9817 non-null   int64
 19  user_total_positives      9817 non-null   int64
 20  user_total_compliments    9817 non-null   int64
 21  user_friends_count        9817 non-null   int64
 22  user_elite_count          9817 non-null   int64
 23  user_elite_most_recent    9817 non-null   object
 24  restaurant_checkin_count  9817 non-null   int64
 25  user_yelp_start           9817 non-null   datetime64[ns]
 26  restaurant_price          9817 non-null   int64
 27  user_most_recent_elite    9817 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(13), object(9)
memory usage: 2.2+ MB

In [28]:
test.drop(labels=['user_yelping_since', 'restaurant_price_range', 'user_elite_most_recent'], axis=1, inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9817 entries, HO0MNezuWqCc8Z-MUCIpxw to IRR2wwwGSwldPuP2Qm1K-w
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   user_id                   9817 non-null   object
 1   business_id               9817 non-null   object
 2   review_stars              9817 non-null   int64
 3   review_date               9817 non-null   datetime64[ns]
 4   review_text               9817 non-null   object
 5   restaurant_city           9817 non-null   object
 6   restaurant_state          9817 non-null   object
 7   restaurant_postal_code    9817 non-null   object
 8   restaurant_latitude       9817 non-null   float64
 9   restaurant_longitude      9817 non-null   float64
 10  restaurant_overall_stars  9817 non-null   float64
 11  restaurant_review_count   9817 non-null   int64
 12  restaurant_is_open        9817 non-null   int64
 13  user_review_count         9817 non-null   int64
 14  user_fans                 9817 non-null   int64
 15  user_average_stars_given  9817 non-null   float64
 16  review_total_positives    9817 non-null   int64
 17  user_total_positives      9817 non-null   int64
 18  user_total_compliments    9817 non-null   int64
 19  user_friends_count        9817 non-null   int64
 20  user_elite_count          9817 non-null   int64
 21  restaurant_checkin_count  9817 non-null   int64
 22  user_yelp_start           9817 non-null   datetime64[ns]
 23  restaurant_price          9817 non-null   int64
 24  user_most_recent_elite    9817 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(13), object(6)
memory usage: 1.9+ MB

In [34]:
'''
Index is used as unique identifier. May be able to replace it with a int64.
user_id and business_id may be able to be deleted. Not used in models.
Location features can probably be reduced or reorganized.
Can split off review_text for now if not being used.
'''
test.memory_usage(deep=True)

Index                        775543
user_id                      775543
business_id                  775543
review_stars                  78536
review_date                   78536
review_text                 6178837
restaurant_city              647235
restaurant_state             579203
restaurant_postal_code       612076
restaurant_latitude           78536
restaurant_longitude          78536
restaurant_overall_stars      78536
restaurant_review_count       78536
restaurant_is_open            78536
user_review_count             78536
user_fans                     78536
user_average_stars_given      78536
review_total_positives        78536
user_total_positives          78536
user_total_compliments        78536
user_friends_count            78536
user_elite_count              78536
restaurant_checkin_count      78536
user_yelp_start               78536
restaurant_price              78536
user_most_recent_elite        78536
dtype: int64

In [36]:
test.drop(labels=['restaurant_city', 'restaurant_state', 'restaurant_postal_code', 'user_id', 'business_id'], axis=1, inplace=True)
test.memory_usage(deep=True)

Index                        775543
review_stars                  78536
review_date                   78536
review_text                 6178837
restaurant_latitude           78536
restaurant_longitude          78536
restaurant_overall_stars      78536
restaurant_review_count       78536
restaurant_is_open            78536
user_review_count             78536
user_fans                     78536
user_average_stars_given      78536
review_total_positives        78536
user_total_positives          78536
user_total_compliments        78536
user_friends_count            78536
user_elite_count              78536
restaurant_checkin_count      78536
user_yelp_start               78536
restaurant_price              78536
user_most_recent_elite        78536
dtype: int64

### Split off review text

In [38]:
review_text_df = test['review_text']
review_text_df.head()

review_id
HO0MNezuWqCc8Z-MUCIpxw    Really good for such a good price! We ordered ...
ZPa-t5l4LN6asog82uqIEg    Home made, authentic and fresh soul food. The ...
baaQVXZDAaHz15iTJrLi-A    went there a couple of weeks ago. Party of fiv...
Ma-Z3lgNK-fM-Uw0FqtrQw    Do not come here for fondue. It's advertised a...
fWd5gdEvZSYvYLA2XsdBSA    This is a restaurant that used to be one of th...
Name: review_text, dtype: object

In [39]:
test.drop(labels=['review_text'], axis=1, inplace=True)
test.memory_usage(deep=True)

Index                       1103223
review_stars                  78536
review_date                   78536
restaurant_latitude           78536
restaurant_longitude          78536
restaurant_overall_stars      78536
restaurant_review_count       78536
restaurant_is_open            78536
user_review_count             78536
user_fans                     78536
user_average_stars_given      78536
review_total_positives        78536
user_total_positives          78536
user_total_compliments        78536
user_friends_count            78536
user_elite_count              78536
restaurant_checkin_count      78536
user_yelp_start               78536
restaurant_price              78536
user_most_recent_elite        78536
dtype: int64

In [41]:
test.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 9817 entries, HO0MNezuWqCc8Z-MUCIpxw to IRR2wwwGSwldPuP2Qm1K-w
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   review_stars              9817 non-null   int64
 1   review_date               9817 non-null   datetime64[ns]
 2   restaurant_latitude       9817 non-null   float64
 3   restaurant_longitude      9817 non-null   float64
 4   restaurant_overall_stars  9817 non-null   float64
 5   restaurant_review_count   9817 non-null   int64
 6   restaurant_is_open        9817 non-null   int64
 7   user_review_count         9817 non-null   int64
 8   user_fans                 9817 non-null   int64
 9   user_average_stars_given  9817 non-null   float64
 10  review_total_positives    9817 non-null   int64
 11  user_total_positives      9817 non-null   int64
 12  user_total_compliments    9817 non-null   int64
 13  user_friends_count        9817 non-null   int64
 14  user_elite_count          9817 non-null   int64
 15  restaurant_checkin_count  9817 non-null   int64
 16  user_yelp_start           9817 non-null   datetime64[ns]
 17  restaurant_price          9817 non-null   int64
 18  user_most_recent_elite    9817 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(13)
memory usage: 2.5 MB

### Target Creation

### Feature Engineering

In [42]:
# Difference between star counts
# review_stars - user_average_stars_given
test['review_stars_v_user_average'] = test['review_stars'] - test['user_average_stars_given']
# review_stars - restaurant_overall_stars
test['review_stars_v_restaurant_average'] = test['review_stars'] - test['restaurant_overall_stars']

In [44]:
test['user_years_since_last_elite'] = 2020 - test['user_most_recent_elite']
test.head(10)

,review_stars,review_date,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,user_review_count,user_fans,user_average_stars_given,review_total_positives,user_total_positives,user_total_compliments,user_friends_count,user_elite_count,restaurant_checkin_count,user_yelp_start,restaurant_price,user_most_recent_elite,review_stars_v_user_average,review_stars_v_restaurant_average,user_years_since_last_elite
review_id,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,4,2017-02-06 21:58:38,43.663160,-79.421923,3.5,411,1,4,1,2.00,0,3,0,131,0,391,2016-12-28 05:18:52,2,0,2.00,0.5,2020
ZPa-t5l4LN6asog82uqIEg,5,2015-03-10 02:56:41,33.625903,-112.100127,4.5,431,1,17,0,4.00,2,18,1,14,0,2013,2014-04-21 17:46:20,1,0,1.00,0.5,2020
baaQVXZDAaHz15iTJrLi-A,5,2011-05-12 22:37:10,36.093066,-115.177814,4.0,955,0,187,2,3.77,0,169,23,48,0,1967,2011-01-27 20:12:39,4,0,1.23,1.0,2020
Ma-Z3lgNK-fM-Uw0FqtrQw,1,2018-05-28 00:19:59,45.505786,-73.553803,4.0,401,1,13,1,3.38,1,2,0,1,0,612,2016-04-05 12:14:54,2,0,-2.38,-3.0,2020
fWd5gdEvZSYvYLA2XsdBSA,1,2017-05-23 12:17:45,33.832212,-111.945506,3.5,788,1,2,0,1.00,2,2,0,0,0,1227,2013-01-01 22:27:40,2,0,0.00,-2.5,2020
J52yUXq7ErZ7ITEIFbYbdQ,5,2018-08-30 17:49:47,35.227237,-80.842851,4.5,111,1,26,0,4.00,0,13,0,0,0,158,2015-02-06 21:06:31,1,0,1.00,0.5,2020
TlWgwINNjkR4IgR5cPDkdg,4,2019-04-21 23:32:55,43.624887,-79.568153,3.0,76,1,37,0,2.36,0,61,3,0,0,91,2012-06-30 02:48:27,2,0,1.64,1.0,2020
d4k3-_UlMXFZBv2Le8hspQ,4,2014-01-15 07:35:30,33.391635,-111.787783,4.5,782,1,27,6,3.76,5,108,41,295,0,1480,2013-10-04 01:47:22,2,0,0.24,-0.5,2020
z0TE3VL7OtnsmK9iWj4k4w,4,2015-01-11 23:31:52,36.125489,-115.197078,3.5,46,0,188,12,3.95,0,622,28,644,1,133,2013-03-14 17:35:06,1,2017,0.05,0.5,3
0VLHKPbA9al48pfycWd-0A,3,2013-09-23 23:24:47,36.116922,-115.175011,4.0,684,1,216,22,3.24,7,1599,275,166,2,1069,2010-02-17 21:17:39,4,2011,-0.24,-1.0,9

In [45]:
test.drop(labels=['user_most_recent_elite'], inplace=True, axis=1)

In [46]:
test['user_time_active_at_review_time'] = test['review_date'] - test['user_yelp_start']

In [48]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9817 entries, HO0MNezuWqCc8Z-MUCIpxw to IRR2wwwGSwldPuP2Qm1K-w
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   review_stars                       9817 non-null   int64
 1   review_date                        9817 non-null   datetime64[ns]
 2   restaurant_latitude                9817 non-null   float64
 3   restaurant_longitude               9817 non-null   float64
 4   restaurant_overall_stars           9817 non-null   float64
 5   restaurant_review_count            9817 non-null   int64
 6   restaurant_is_open                 9817 non-null   int64
 7   user_review_count                  9817 non-null   int64
 8   user_fans                          9817 non-null   int64
 9   user_average_stars_given           9817 non-null   float64
 10  review_total_positives             9817 non-null   int64
 11  user_total_positives               9817 non-null   int64
 12  user_total_compliments             9817 non-null   int64
 13  user_friends_count                 9817 non-null   int64
 14  user_elite_count                   9817 non-null   int64
 15  restaurant_checkin_count           9817 non-null   int64
 16  user_yelp_start                    9817 non-null   datetime64[ns]
 17  restaurant_price                   9817 non-null   int64
 18  review_stars_v_user_average        9817 non-null   float64
 19  review_stars_v_restaurant_average  9817 non-null   float64
 20  user_years_since_last_elite        9817 non-null   int64
 21  user_time_active_at_review_time    9817 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), int64(13), timedelta64[ns](1)
memory usage: 2.0+ MB

### Expand Columns DateTime Columns Into More Useful Info

In [35]:
test.head(5)

,user_id,business_id,review_stars,review_date,review_text,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_overall_stars,restaurant_review_count,restaurant_is_open,user_review_count,user_fans,user_average_stars_given,review_total_positives,user_total_positives,user_total_compliments,user_friends_count,user_elite_count,restaurant_checkin_count,user_yelp_start,restaurant_price,user_most_recent_elite
review_id,,,,,,,,,,,,,,,,,,,,,,,,,
HO0MNezuWqCc8Z-MUCIpxw,oweLzZ2Fg7BdKdDPTyoX9g,UDk7qUVIetK3Y3NuARguqg,4,2017-02-06 21:58:38,Really good for such a good price! We ordered ...,Toronto,ON,M6G 1L7,43.663160,-79.421923,3.5,411,1,4,1,2.00,0,3,0,131,0,391,2016-12-28 05:18:52,2,0
ZPa-t5l4LN6asog82uqIEg,wo3u3xg8tVhbq5tpe0pDgg,CV0knwCFA-x-8jJHot6Few,5,2015-03-10 02:56:41,"Home made, authentic and fresh soul food. The ...",Phoenix,AZ,85023,33.625903,-112.100127,4.5,431,1,17,0,4.00,2,18,1,14,0,2013,2014-04-21 17:46:20,1,0
baaQVXZDAaHz15iTJrLi-A,BRkfT1_6dVouyUVfN4R-Pw,Cr4ipI-tr-R8Q0NilkWNkA,5,2011-05-12 22:37:10,went there a couple of weeks ago. Party of fiv...,Las Vegas,NV,89119,36.093066,-115.177814,4.0,955,0,187,2,3.77,0,169,23,48,0,1967,2011-01-27 20:12:39,4,0
Ma-Z3lgNK-fM-Uw0FqtrQw,GCm9IoZy-F-KMCt2iNmaCg,SFnrHuVFSNiondFVUBLJZQ,1,2018-05-28 00:19:59,Do not come here for fondue. It's advertised a...,Montr√©al,QC,H2Y 1E9,45.505786,-73.553803,4.0,401,1,13,1,3.38,1,2,0,1,0,612,2016-04-05 12:14:54,2,0
fWd5gdEvZSYvYLA2XsdBSA,XrtAQ8oBY5a_wMsi1g6fvg,vz8HFGsITt6aj-nyXkAEFg,1,2017-05-23 12:17:45,This is a restaurant that used to be one of th...,Cave Creek,AZ,85331,33.832212,-111.945506,3.5,788,1,2,0,1.00,2,2,0,0,0,1227,2013-01-01 22:27:40,2,0

### Save Completed Data to New Postgres Table